<configuration>

    <property name="WEBHOOK_URL" value="https://hooks.slack.com/services/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"/>
    <property name="LOG_PATTERN" value="%level %d{yy-MM-dd HH:mm:ss} , [%logger{0}:%line] - %msg%n"/>

    <!-- Slack Webhook Appender 추가 -->
    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
        <webhookUrl>${WEBHOOK_URL}</webhookUrl>
        <iconEmoji>🚨</iconEmoji> <!-- Slack 메시지에 표시될 이모지 -->
        <username>LogBot</username> <!-- Slack에 표시될 이름 -->
        <channel>#server-logs</channel> <!-- 로그를 보낼 채널 -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <redirectToStdout>true</redirectToStdout>
            <resourceType>cloud_run_revision</resourceType>
            <flushLevel>WARN</flushLevel>
        </appender>

        <root level="INFO">
            <appender-ref ref="CLOUD"/>
            <appender-ref ref="SLACK"/> <!-- Slack으로 로그 전송 -->
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>WARN</level>
            </filter>
            <redirectToStdout>true</redirectToStdout>
            <resourceType>cloud_run_revision</resourceType>
            <flushLevel>WARN</flushLevel>
        </appender>

        <root level="WARN">
            <appender-ref ref="CLOUD"/>
            <appender-ref ref="SLACK"/> <!-- Slack으로 로그 전송 -->
        </root>
    </springProfile>

</configuration>